th {
	text-align: center;
}
td a {
	color: inherit;
}
td a:hover {
	color: #8e24aa;
	font-weight: 600;
	padding-left: 20px;
}

td a > span {
	display: none;
}
td a:hover > span {
	 	display: inline;
}

.audiogram-right td {
	background-color: #ffc1c1;
}

.audiogram-left td {
	background-color: #a0ccff;
}

.wrapper-full-page {
	background-color: black;
}
